@font-face {
  font-family: Bahnschrift;
  src: url("/assets/fonts/Bahnschrift.ttf") format('truetype');
}

@font-face {
  font-family: CalibriLight;
  src: url("/assets/fonts/Calibri Light.ttf") format('truetype');
}