$primaryLight: rgb(86, 219, 159);
$primary: #41B883;
$primaryDark: rgb(0, 148, 81);

$secondaryLighter: #ffb5b5;
$secondaryLight: #ff9292;
$secondary: #E12525;
$secondaryDark: #B51010;

$neutralDarker: #7f8c8d;
$neutralDark: #bdc3c7;
$neutral: #D1D3D4;
$neutralLight: #fff;
$neutralLighter: #f4f8ff;
$neutralLightest: #f4f7fc;

$littleShadow: 0 0 8px rgba(0,0,0,0.1);
$bigShadow: 0 0 30px rgba(0,0,0,0.1);
$cardShadow: 0 5px 10px rgba(0,0,0,0.2); 

$roboto: 'Roboto', sans-serif;
$firaSans: 'Fira Sans Condensed', sans-serif;
$bahnschrift: 'Bahnschrift', sans-serif;
