$primaryLighter: rgb(77, 118, 255);
$primaryLight: rgb(0, 48, 204);
$primary: rgb(1, 37, 158);
$primaryDark: rgb(3, 26, 102);

$secondaryLighter: #ffb5b5;
$secondaryLight: #ff9292;
$secondary: #E12525;
$secondaryDark: #B51010;

$neutralDarker: #7f8c8d;
$neutralDark: #bdc3c7;
$neutral: #D1D3D4;
$neutralLight: #fff;
$neutralLighter: #e5e8ed;
$neutralLightest: #f4f7fc;

$littleShadow: 0 0 8px rgba(0,0,0,0.1);
$bigShadow: 0 0 30px rgba(0,0,0,0.1);
$cardShadow: 0 5px 10px rgba(0,0,0,0.2); 

$calibriLight: 'CalibriLight', sans-serif;
$bahnschrift: 'Bahnschrift', sans-serif;
