<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Картография</title>
    <link rel="stylesheet" href="/src/assets/css/cartography.css">
    <link rel="stylesheet" href="/src/assets/css/header.css">
</head>

<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header__inner"> <img src="/src/assets/images/logo.png" alt="logo" class="header__logo">
                <!-- Информация для авторизированных -->
                <nav class="header__nav">
                    <button class="header__chat-btn">Чаты</button>
                    <div class="header__search">
                        <input class="search-txt" type="text" placeholder="Поиск" href=#> <img src="/src/assets/images/search-icon.png" alt="" class="search-btn"> </div>
                </nav> <img src="/src/assets/images/user.jpg" alt="" class="header__user-icon">
                <!-- Отображать для неавторизированных-->
                <!--<div class="header__start-info">
                <p>zakaz@text.com</p>
                <p>8-800-555-99-99</p>
                </div>
                -->
            </div>
        </div>
    </header>
    <section class="map-container">
        <div class="container">
            <div class="map-container__inner">
               <div class="map-c__header">
                   <span class="title">
                       Итерактивная карта
                   </span>
                   <div class="filter">
                       Фильтр
                       <img src="/src/assets/images/icon-drop-down.png" alt="" class="drop-down-icon">
                   </div>
               </div>
            </div>
            <img src="/src/assets/images/map.png" alt="" class="map-img">
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body></html>
