<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/src/assets/css/chat.css">
    <link rel="stylesheet" href="/src/assets/css/header.css">
</head>

<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">
                <img src="/src/assets/images/logo.png" alt="logo" class="header__logo">
                <!-- Информация для авторизированных -->
                <nav class="header__nav">
                    <button class="header__chat-btn">Чаты</button>
                    <div class="header__search">
                        <input class="search-txt" type="text" placeholder="Поиск" href=#>
                        <img src="/src/assets/images/search-icon.png" alt="" class="search-btn">
                    </div>
                </nav>
                <img src="/src/assets/images/user.jpg" alt="" class="header__user-icon">
                <!-- Отображать для неавторизированных-->
                <!--<div class="header__start-info">
                <p>zakaz@text.com</p>
                <p>8-800-555-99-99</p>
                </div>
                -->
            </div>
        </div>
    </header>
    <section class="chat">
        <div class="container">
            <div class="chat__inner">
                <nav class="chats">
                    <div class="list__nav">
                        <input type="text" class="chat__search-txt" placeholder="Поиск среди чатов">
                        <img class="icon-add-chat" src="/src/assets/images/plus_icon.png">
                    </div>
                    <hr class="chat__hr">
                    <div class="all-chats">
                        <div class="chat-card">
                            <img src="/src/assets/images/chats-imgs/1.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">#Обший чат компании</span>
                                    <span class="msg-time">
                                        9:22
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Всё решили
                                    </span>
                                    <span class="msg-count">
                                        3
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/chats-imgs/2.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">#Чат отдела</span>
                                    <span class="msg-time">
                                        8:44
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Меня сегодня не будет
                                    </span>
                                    <span class="msg-count">
                                        1
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/chats-imgs/3.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">Евгения Старцева</span>
                                    <span class="msg-time">
                                        9:10
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Привет
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/chats-imgs/4.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">Альберт Эйнштейн</span>
                                    <span class="msg-time">
                                        12:00
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Ты, наверное, не понял, что я написал я тебе позже объясню.
                                    </span>
                                    <span class="msg-count">
                                        1
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/user.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">Всеволод Косарев</span>
                                    <span class="msg-time">
                                        24 апр
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Привет
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/user.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">Всеволод Косарев</span>
                                    <span class="msg-time">
                                        24 апр
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Привет
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/user.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">Всеволод Косарев</span>
                                    <span class="msg-time">
                                        24 апр
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Привет
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/user.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">Всеволод Косарев</span>
                                    <span class="msg-time">
                                        24 апр
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Привет
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-card">
                            <img src="/src/assets/images/user.jpg" alt="" class="chat-icon">
                            <div class="chat-card__info">
                                <div class="chat-card__section">
                                    <span href="" class="chat__title">Всеволод Косарев</span>
                                    <span class="msg-time">
                                        24 апр
                                    </span>
                                </div>
                                <div class="chat-card__section">
                                    <span class="msg-text">
                                        Привет
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="chat-main">
                    <div class="this-chat-info">
                        <div class="header-chat-block">
                            <img src="/src/assets/images/chats-imgs/3.jpg" alt="" class="chat-icon this-icon">
                            <div class="this-chat-title">
                                <span href="" class="this-chat-title-main">Евгения Старцева</span>
                                <span href="" class="this-chat-title-members">online</span>
                                <!-- Если пользователь-->
                                <!--
                            <span class="this-chat-presence">Online</span>
                            -->
                            </div>
                        </div><img src="/src/assets/images/search-icon.png" alt="" class="search-btn">
                        <img src="/src/assets/images/3_dot.png" alt="" class="chat-settings-btn">
                    </div>
                    <hr class="chat__hr">
                    <div class="massage-feed">
                        <div class="massage">
                            <img src="" alt="" class="user-icon">
                            <span class="massage-text">Привет</span>
                            <span class="massage-time">12:00</span>
                        </div>
                        <div class="massage own">
                            <img src="" alt="" class="user-icon">
                            <span class="massage-text">Хай</span>
                            <span class="massage-time">12:10</span>
                        </div>
                        <div class="massage">
                            <img src="" alt="" class="user-icon">
                            <span class="massage-text">Как дела?</span>
                            <span class="massage-time">12:30</span>
                        </div>
                        <div class="massage own">
                            <img src="" alt="" class="user-icon">
                            <span class="massage-text">Проект будет к 18:00</span>
                            <span class="massage-time">12:32</span>
                        </div>
                    </div>
                    <div class="add-massage">
                        <img src="" alt="" class="add-file-icon">
                        <input type="text" class="massage-field">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body></html>
